@font-face {
    font-family: Videopac;
    src: url(css/Videopac.woff2);
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
 }

.header {
    padding-top: 1px;
    margin:auto;
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: bold;
    color:mintcream;
    background: rgb(131,250,176);
    background: linear-gradient(180deg, rgba(131,250,176,1) 0%, rgba(143,211,244,1) 100%);
    padding-bottom: 10px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position:relative;
    z-index:9;   
}

.header a {
    text-decoration: none;
    color: inherit;
    padding:4px;
    border-radius: 8px;
    
}
.header a:hover {
    background-color: rgba(245,255,250,0.2);
}

#mainlogo {
    font-family: 'Videopac', sans-serif;
    color:mintcream;
    text-align:center;
    font-size: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
}

body {
    background-color: white;
    margin: 0;
}
.content {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
}
h1 {
    font-family: "Open Sans", sans-serif;
    font-weight:700;
}
h2 {
    font-family: "Open Sans", sans-serif;
    font-weight:700;
}
p {
    font-family: "Open Sans", sans-serif;
}

hr {
    border-width: 1px;
    border-style: solid;
}
.takemehome {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}
#logo {
    height:40px;
    width:auto;
    padding-top: 60px;
    padding-bottom: 40px;
    filter: brightness(0) saturate(100%) invert(92%) sepia(17%) saturate(157%) hue-rotate(79deg) brightness(106%) contrast(105%);
}